@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.icones-sociais {
    position: absolute;
    color: rgb(224, 247, 20);
    left: 87%;
    transform: translate(-70%, 150%);
}

.icones-sociais a:hover {
    transition: calc(3s);
    transform: translate(-4px, -10px);
    
}

@media screen and (min-width: 801px) {
    .icones-sociais {
        position: absolute;
        left: 91%;
    }
}

.icones-sociais a {
    display: inline;
    width: 22px;
    height: 23px;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    justify-content: baseline;
    align-items: center;
    transition: 0.3s;
    font-size: 18px;
    padding: 5px;
}

.icones-sociais a:hover {
    
    color: rgb(253, 155, 9);
}

