@charset "UTF-8";
body {
    background-color: rgb(152, 236, 208);
}
h1 {
    color: hsl(14, 83%, 49%);
}
h1#principal { /*Usando identificado para h1*/
    text-align: center;
    background-color: rgb(100, 100, 240);
    color: rgb(255, 255, 255);
}
h2 {
    color: hsl(293, 69%, 5%);
}
.avancado {
    color: rgb(70, 49, 97);
}
.basico {
    color: rgb(134, 84, 134);
}
.intermediario {
    color: rgb(102, 49, 99);
}


.destaque {
    background-color: rgb(161, 209, 236);
}